.myBG {
    height: 100vh;
    background: url("../assets/image/bg/main.jpg");
    background-size: cover;
}
.intro {
    height: 400px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}
.Trending {
    height: auto;
    background: url("../assets/image/bg/spiderman.jpg");
    background-size: cover;
}
.movieImage {
height: auto;
margin: 5px;
padding: 5px;
background-color: black;
}
.movieWrapper {
}
.image {
    height: 500px;
}
.superhero {
    height: auto;
    background: url("../assets/image/bg/scifi.jpg");
    background-size: cover;
}
   